/* $Id: zen.css,v 1.1.2.26 2008/04/20 04:22:15 johnalbin Exp $ */
/*
 * ZEN STYLES
 *
 * This is an example stylesheet. Sub-themes should NOT include the zen/zen.css
 * file, but instead copy this CSS to their own stylesheets.
 *
 * In this stylesheet, we have included all of the classes and IDs from this
 * theme's tpl.php files. We have also included many of the useful Drupal core
 * styles to make it easier for theme developers to see them.
 *
 * Many of these styles are over-riding Drupal's core stylesheets, so if you
 * remove a declaration from here, the styles may still not be what you want
 * since Drupal's core stylesheets are still styling the element. See the
 * drupal5-reference.css file for a list of all Drupal 5.x core styles.
 *
 * In addition to the style declarations in this file, other Drupal styles that
 * you might want to override or augment are those for:
 *
 *   Book Navigation  See line 74  of Zen's drupal5-reference.css file
 *   Forum            See line 197 of Zen's drupal5-reference.css file
 *   Menus            See line 667 of Zen's drupal5-reference.css file
 *   News Aggregator  See line 20  of Zen's drupal5-reference.css file
 *   Polls            See line 287 of Zen's drupal5-reference.css file
 *   Search           See line 320 of Zen's drupal5-reference.css file
 *   User Profiles    See line 945 of Zen's drupal5-reference.css file
 */
/** body **/
body {
    background: #8a8a8a url(images/background.jpg) 0 0 repeat-x;
    margin-top: 0;
    padding-top: 0;
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
}
#page {
    background: transparent url(images/shadow-middle.png) 0 0 repeat-y;
    width: 990px;
    margin-left: auto;
    margin-right: auto;
}
#page-inner {
    border-top: 9px solid #782A71;
    background: #fff;
    padding: 0 0 18px 18px;
    margin: 0 8px 0 7px;
    width: 957px;
}
/* Grid for checking placement*/
/*  
  #page {
  background:transparent url(images/imr-grid.png) 0 0 repeat-y;
  }
  #page-inner {
  background:transparent;
  }
  
*/
/** header **/
#header { }
#header-inner { }
#logo-title /* Wrapper for logo,
website name,
and slogan */ {
    margin-top: 12px;
    width: 500px;
    height: 85px;
}
#logo /* Wrapper for logo */ { margin: 0 0 6px 0 }
#logo-image /* The actual logo image */ { width: 295px }
#site-name /* The name of the website */ {
    text-indent: -10000px;
    padding: 0;
    overflow: hidden;
}
#site-name a:link,
#site-name a:visited {
    color: #000;
    text-decoration: none;
}
#site-name a:hover { text-decoration: underline }
.replace {
    position: relative;
    /* Start Mac IE5 filter \*/
    overflow: hidden;
    /* End Mac IE5 filter */
    padding: 0;
    margin: 0;
}
.replace em {
    display: block;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 1; /*for Opera 5 and 6*/
}
#site-slogan a /* The slogan (or tagline) of a website */ {
    float: left;
    color: #fff !important;
    cursor: pointer;
    cursor: hand;
    display: block;
}
#site-slogan a#site-slogan-link {
    width: 204px;
    height: 30px;
    text-indent: -10000px;
}
#site-slogan a#site-slogan-link2 {
    width: 281px;
    height: 30px;
    text-indent: -10000px;
}
#site-slogan a#site-slogan-link em {
    width: 204px;
    height: 30px;
    background: url('images/amediacommons.png') 0 0 no-repeat;
}
#site-slogan a#site-slogan-link2 em {
    width: 281px;
    height: 30px;
    background: url('images/cinemajournalproject.png') 0 0 no-repeat;
}
#header-blocks /* Wrapper for any blocks placed in the header region */ {
    float: right;
    width: 461px;
    text-align: right;
    margin-right: 18px;
    margin-top: 3px;
}
#header-blocks ul { }
#header-blocks ul li { }
/** main (container for everything else) **/
#main { }
body.one-sidebar #main { }
body.two-sidebars #main { }
#main-inner { }
/** content **/
#content { }
#content-inner { }
#mission /* The mission statement of the site (displayed on homepage) */ { }
#content-top /* Wrapper for any blocks placed in the "content top" region */ { }
#content-header /* Wrapper for breadcrumb,
title,
messages,
tabs,
and help */ { }
.breadcrumb /* The path to the current page in the form of a list of links */ {
    display: none;
    padding-bottom: 0; /* Undo system.css */
}
h1.title,
/* The title of the page */
  h2.title,
/* Block title or the title of a piece of content when it is given in a list of content */
  h3.title /* Comment title */ { margin: 0 }
div.messages /* Important messages (status,
warning,
and error) for the user */ {
    margin: 0 1em 5px 1em;
    border: 2px solid #ccc;
    padding: 5px;
    color: #000;
    background-color: #fff;
    font-style: italic;
}
div.status /* Normal priority messages */ { }
div.warning /* Medium priority messages */ { border-color: #ff7 }
div.warning,
tr.warning,
body.section-admin tr.warning {
    color: #000;
    background-color: #ffc;
}
div.error /* High priority messages. See also the .error declaration below. */ { border-color: #c00 }
div.error,
tr.error,
body.section-admin tr.error {
    color: #900;
    background-color: #fee;
}
div.tabs /* See also the tabs.css file. */ { }
.help /* Help text on a page */ { margin: 1em 0 }
.more-help-link /* Link to more help */ {
    font-size: 0.85em;
    text-align: right;
}
#content-area /* Wrapper for the actual page content */ { }
.pager /* A list of page numbers when more than 1 page of content is available */ {
    clear: both;
    margin: 2em 0 1em 0;
    text-align: center;
}
.pager a,
.pager strong.pager-current { padding: 0.5em }
.feed-icons /* The links to the RSS or Atom feeds for the current list of content */ { margin: 1em 0 }
#content-bottom /* Wrapper for any blocks placed in the "content bottom" region */ { clear: both }
#content-bottom .node-teaser,
#content .node-type-post.node-teaser {
    float: left;
    width: 222px;
    height: 90px;
    margin: 17px 17px 0px 0px;
}
#content-bottom .block-inner h2.title {
    font-size: 1.419em;
    line-height: .9em;
}
#content-bottom .node-teaser h2.title,
#content .node-teaser h2.title {
    font-size: 0.857em;
    line-height: 1.5em;
}
#content-bottom .node-teaser .links { }
#content-bottom .node-teaser .links a:link { }
#block-views-recent_unselected { margin-top: 38px }
#block-views-recent_unselected .block-inner h2.title { }
/*Right side Blocks on the homepage*/
#block-views-featured_posts,
#block-views-recent_comments-block_1 {
    margin-top: 2px;
    float: right;
    width: 222px;
    /* margin-right: 18px; */
}
#block-views-featured_posts ul,
#block-views-recent_comments-block_1 ul { margin-top: 2px }
.view-recent-unselected { margin-top: 6px }
/** navbar **/
#navbar { }
#navbar-inner { }
#search-box /* Wrapper for the search form */ { }
#primary /* Primary links */ { }
#secondary /* Secondary links */ { }
/** sidebar-left **/
#sidebar-left { }
#sidebar-left-inner { }
#sidebar-left-inner h2.title { }
/** sidebar-right **/
#sidebar-right { }
#sidebar-right-inner { }
#sidebar-right-inner h2.title { }
#sidebar-right-inner .node-teaser h2.title { }
#sidebar-right-inner .node-teaser .links {
    /*font-weight: 100;;
    font-size: .9em;
    color: #fff;
    border-bottom: none;
    margin: 0;*/
}
#sidebar-right-inner .node-teaser h2.title a:link,
#sidebar-right-inner .node-teaser h2.title a:visited { }
#sidebar-right-inner .node-teaser .links a:link,
#sidebar-right-inner .node-teaser .links a:visited { }
#sidebar-right-inner .node-inner { }
#sidebar-right-inner .node-inner .submitted { display: none }
/** footer **/
#footer { }
#footer-inner { }