#site-slogan a#site-slogan-link {
    width: 204px;
    height: 30px;
    text-indent: -10000px;
}

#site-slogan a#site-slogan-link2 {
    width: 281px;
    height: 30px;
    text-indent: -10000px;
}

#site-slogan a#site-slogan-link em {
    width: 204px;
    height: 30px;
    background: url("images/amediacommons.png") 0 0 no-repeat;
}

#site-slogan a#site-slogan-link2 em {
    width: 281px;
    height: 30px;
    background: url("images/cinemajournalproject.png") 0 0 no-repeat;
}
